.container-buscar form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding: 20px 0;
}

.buscar-button button {
  padding: 5px 20px;
  margin-top: 10px;
  background-color: #1ed760;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 2px 2px 4px #000;
}